.Events{
     background-color: aquamarine;
}
.ok{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.menu li Button{
   width: 100%;
   background-color: transparent;
}
.menu li Button:hover{
   box-shadow: none !important;
 }